<title> R </title>
{% extends 'base.html' %}

{% block content %}
    <div class="nav-block">
    </div>

        <div class='home-main-block'>
            <h1><b><center>Hello!</center></b></h1>
        </div>

        <div class="home-img">
            {% load static %}
            <p class='figure'><img src="{% static 'img/owl1.jpg' %}" width="160" height="210"></p>
        </div>

        <div class="mn-block">
            <a class='tb' href='#'>Food</a>
            <a class='tb' href='#'>Zone</a>
            <a class='tb' href='#'>About</a>
        </div>

        <div class="mn2-block">
            <a class='tb' href='#'>Food</a>
            <a class='tb' href='#'>Zone</a>
            <a class='tb' href='#'>About</a>
    </div>

    <p class='paragraph' color: 'white'>https://https://freelancehunt.com/freelancer/stripedtiger.html</p>
        
    <div class="video-block">
        <p>One</p>
    </div>
{% endblock content %}
